<!DOCTYPE html>
<html>
  <head>
    <title>TV Team</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <style>
      .topnav {
        overflow: hidden;
        background-color: rgb(224, 224, 224);
      }

      .topnav a {
        float: left;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: rgb(95, 172, 235);
        color: rgb(255, 255, 255);
      }

      hr{ border: 1px solid  rgb(131, 190, 238)}
    </style>
  </head>
  <body class="container"  style="font-family: 'Nunito', sans-serif; font-size:16px; color:black;">
    <div class="topnav">
      <a href="#home">Home</a>
      <a href="#progetto">Progetto</a>
      <a href="#about">About</a>
      <a href="/upload">Upload</a>
    </div>

    <div class="container" id="home">
      <div class="row">
        <div class="col">
          
          <img src="/static/Images-amico.png" style="width: 100%;">
        </div>
        <div class="col" style="margin: auto;">
          <h1 class="display-3" style="font-family: 'Audiowide', cursive;">THE FINDER</h1>
        </div>
      </div>
    </div>

    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home" style="text-align: center;">
      <div class="w3-display-middle" style="white-space:nowrap;">
        
        
        
      </div>
    </div>
    <div style="text-align: center;">
      <a href="/upload">
        <button class="btn btn-primary" type="button" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
            <path d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
          </svg>
          Upload
        </button>
      </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id="progetto">
      <h3 style="text-align: center;">Progetto The Finder</h3>
      <br><br>
      <div class="container" style="text-align: center;" >
        <div class="row">
          <div class="col">
            <div class="w3-col m6 w3-hide-small w3-padding-large">
              <p class="lead" style="font-family: 'Nunito';">Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          </div>
          <div class="col">
            <img src="/static/Search-pana.png" alt="upload" style="width: 100%; margin-top: -20px;">
          </div>
        </div>
      </div>
    </div>
    
   
    <br>
    <br>
    <div>
      <h3 style="text-align: center;">About TV TEAM</h3>
      <br><br>
      <div class="container" id="about">
        <div class="row">
          <div class="col">
            <div>
              <img src="/static/Team page-amico.png" alt="upload" style="width: 100%;">
          </div>
          </div>
          <div class="col">
            <hr>
            <blockquote class="blockquote text-right">
              
              <p class="mb-0" style="font-family: Garamond">Ritrovarsi insieme è un inizio, restare insieme è un progresso, ma riuscire a lavorare insieme è un successo</p>
              <footer class="blockquote-footer"><cite title="Source Title">Henry Ford</cite></footer>
            </blockquote>
            <hr>
              <p><b>Alberto Casagrande</b> | alberto.casagrande@studenti.unitn.it</p>
              <p><b>Alessio Belli</b> | alessio.belli@studenti.unitn.it</p>
              <p><b>Davide Zordan</b> | davide.zordan@studenti.unitn.it</p>
              <p><b>Mattia Perin</b> | mattia.perin@studenti.unitn.it</p>
              <p><b>Chiara Calore</b> | chiara.calore@studenti.unitn.it</p>
         
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark">TV Team</a>
      </div>
    </footer>
  </body>
</html>
